body {
    background: #01040d;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #bfff00;
    position: absolute;
    transition: background-color 0.3s, transform 0.3s;
    animation: blink 2s infinite;
}
.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    color: #bfff00;
    background: transparent;
    font-size: 12px;
    border-radius: 4px;
    z-index: 1;
    width: 100px;
    white-space: pre-wrap;
    line-height: 1.5;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.star:hover .tooltip {
    display: block;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes moveLeft {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
}

@keyframes moveRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
}
.sky-night {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}


